/*General Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 2.5;
    color: #333;
    margin: 0;
    padding: 0;
    background-color:#333;
    font-size: 1.25rem;
}

/* Navigation */
header {
    background: #2c3e50;
    padding: 1rem;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #cc8e2b;
}

/* Main Content Styling */
main #about {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #education {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #leadership {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #work {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #projects {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #skills {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #languages {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #hobbies {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}

main #contact {
    max-width: 1400px;
    margin: 2rem auto;
    padding: 1rem;
    background: #131513;
    border-radius: 20px;
    color: white;
}


/* Section Styling */
section {
    margin-bottom: 2rem;
}

section h1, section h2, section h3 {
    color: #b1cbe1;
}

section p {
    margin: 0.5rem 0;
}

/* Image Styling */
#about img {
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}

/* Lists Styling */
ul {
    list-style: disc;
    padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Skills and Languages Section */
#skills ul, #languages ul {
    columns: 2;
}

/* Footer Styling */
footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    #skills ul, #languages ul {
        columns: 1;
    }

    main {
        margin: 1rem;
        padding: 1rem;
    }
}

